* {
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon", sans-serif;
}
body{
    background-color: #0c0c0c;
}
nav {
    width: 100%;
    height: 70px;
    background: rgba(32, 32, 32, 0.5);
    backdrop-filter: blur(10px);
    position: sticky;
    display: inline-flex;
    gap: 2vw;
    justify-content: center;
}
nav ul {
    display: inline-flex;
}
nav ul li {
    list-style: none;
    position: relative;
}
nav ul li button {
    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 1vw;
    background: none;
    border: none;
    color: #aaaaaa;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    transition: 0.7s;
}
#Hamburger{
    background-color: transparent;
    transition: 0.7s;
}
nav ul li button:hover {
    background-color: #1e1e1e;
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
    transition: 0.7s;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.5);
    z-index: 10;
    transition: 0.7s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: dropdownAnimation 0.5s ease-out forwards;
}
.dropdown-content button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    animation: dropdownAnimation 0.5s ease-out forwards;
}
.dropdown-content button:last-child:hover {
    transition: 0.7s;
    background-color: #100f3c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
li button:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}
.dropdown-content button:hover{
    transition: 0.7s;
    background-color: #100f3c;
}
@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
button h1 {

    font-style: normal;
    font-weight: lighter;
}
nav h6{
    font-style: normal;
    font-weight: lighter;
}
.title {
    height: 100%;
    border: none;
    background-color: transparent;
    color: antiquewhite;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.title:hover {
    text-shadow: 0 0 10px white;
    transition: 0.7s;
}
.title h1 {
    font-style: normal;
    font-weight: lighter;
    cursor: pointer;
}
.user button{
    color: #aaaaaa;
    height: 100%;
    background: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 1vw;
    transition: 0.7s;
}
.user button:hover{
    transition: 0.7s;
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}
.fa-user{
    font-size: 30px;
}
.logo img{
    transition: 0.7s;
    height: 30px;
}
.logo{
    color: aliceblue;
    font-weight: lighter;
    cursor: pointer;
    text-shadow: 0 0 10px white;
    display: inline-flex;
    align-items: center;
}
@media screen and (max-width: 1600px) {
    nav ul li button {
        font-size: 18px;
    }
}
@media screen and (max-width: 1515px) {
    nav ul li button {
        font-size: 16px;
    }
}
@media screen and (max-width: 1400px) {
    .logo img {
        height: 20px;
    }
}
@media screen and (max-width: 1280px) {
    .nick{
        display: none;
    }
}
@media screen and (max-width: 1201px) {
    nav ul li button {
        font-size: 15px;
    }
    .dropdown-content button {
        height: 40px;
        font-size: 17px;
    }
}
@media screen and (max-width: 1170px) {
    nav ul li button {
        font-size: 14px;
    }
}
@media screen and (max-width: 1120px) {
    nav ul li button {
        font-size: 13px;
    }
}

/*Main*/
main{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

main button{
    width: 220px;
    padding: 15px;
    height: 300px;
    border: none;
    align-items: center;
    display: flex;
    background-color: #202020;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    flex-direction: column-reverse;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.7s;
}
main button:hover{
    transition: 0.7s;
    background-color: #323232;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
main button img{
    opacity: 0.5;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
main button:hover img{
    opacity: 1;
    transition: 0.7s;
}
main button h1{
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: "Tilt Neon", sans-serif;
}
.Dev{
    display: none;
}